header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    height: 60px;
    background-color: #ffffff;
  }
  
  .logo {
    font-family: Roboto;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    margin-left: 30px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #505F98;
    font-weight: 400;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
  }
  .buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
  }
  
  
  .learn-more {
    background-color: #111B47;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color:#ffffff;
    border-radius: 4px;
    display: inline-block;
    padding: 8px 20px;

  }
  
  .buy-now {
    background-color: #FFD166;
    color: black;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    padding: 8px 20px;

  }

    /* ==== Хедер адаптація ==== */
  .hamburger {
    display: none; /* прихований по замовчуванню */
    font-size: 26px;
    cursor: pointer;
    color: #091133;
  }

  /* Меню у звичайному стані */
  header nav ul {
    display: flex;
    gap: 20px;
  }

  /* На малих екранах */
  @media (max-width: 360px) {
    .logo{
      margin-left: 0px;
    }
    
    
    .hamburger {
      display: block;
      margin-right: -100px; /* показати гамбургер */
    }

  header nav ul {
    display: none; /* сховати меню */
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 15px;
    border-top: 1px solid #ddd;
    z-index: 1000;
  }

  header nav ul.show {
    display: flex; /* показати при кліку */
  }

  header {
    position: relative;
    padding: 10px 15px;
  }
}
